
body, dl, dt, dd, p, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, select, fieldset, input, button, textarea, blockquote {margin: 0; padding: 0; }
html, body {
    padding: 0px;
    margin: 0px;
    border: 0;
    font-family: 微软雅黑, 宋体;
    font-size: 14px;
    background: rgb(255, 255, 255);

}
html body{ 
    display: block;
    margin: 0px;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

div {
    display: block;
}
.footer02 {
    margin: 0;
    text-align: center;
    color: #fff;
    height: 120px;
    background: #132a67;
}
.footer02 p {
    padding-top: 5px;
    vertical-align: middle;
}
.container {
    margin: 0 auto;
    width: 1100px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}